.section-1 { position: relative; background: #2C2A2A; }

.section-1 .section-inner { max-width: 1360px; padding: 132px 80px 149px; margin: auto; }

@media screen and (max-width: 1080px) { .section-1 .section-inner { padding: 0 80px 120px; } }

@media screen and (max-width: 640px) { .section-1 .section-inner { padding: 0 40px 100px; } }

.section-1 .section-inner .banner-image { position: absolute; top: 0; right: 0; width: 43%; max-width: 840px; border-radius: 0px 0px 0px 80px; overflow: hidden; }

@media screen and (max-width: 1080px) { .section-1 .section-inner .banner-image { position: relative; width: calc(100% + 80px); max-width: inherit; } }

@media screen and (max-width: 640px) { .section-1 .section-inner .banner-image { width: calc(100% + 40px); } }

@media screen and (max-width: 1080px) { .section-1 .section-inner .banner-image img { width: 100%; } }

.section-1 .section-inner .title { font-weight: 400; font-size: 50px; line-height: 140%; letter-spacing: -0.05em; color: #FFFFFF; }

@media screen and (max-width: 1080px) { .section-1 .section-inner .title { margin-top: 100px; text-align: center; } }

@media screen and (max-width: 640px) { .section-1 .section-inner .title { font-size: 40px; } }

.section-1 .section-inner .title .focus { font-weight: 700; }

.section-1 .section-inner .sub-title { margin-top: 20px; font-weight: 400; font-size: 30px; line-height: 140%; letter-spacing: -0.03em; color: #E0E0E0; }

@media screen and (max-width: 1080px) { .section-1 .section-inner .sub-title { text-align: center; } }

@media screen and (max-width: 640px) { .section-1 .section-inner .sub-title { font-size: 24px; } }

.section-1 .section-inner .btn-group { margin-top: 50px; font-size: 0; }

@media screen and (max-width: 1080px) { .section-1 .section-inner .btn-group { margin-top: 60px; text-align: center; } }

@media screen and (max-width: 640px) { .section-1 .section-inner .btn-group { margin-top: 40px; } }

.section-1 .section-inner .btn-group button { width: 250px; height: 55px; margin-right: 20px; border: 1px solid rgba(255, 255, 255, 0.3); background: transparent; letter-spacing: -0.015em; font-weight: 700; font-size: 15px; line-height: 19px; color: #FFFFFF; }

@media screen and (max-width: 640px) { .section-1 .section-inner .btn-group button { display: block; margin: auto; margin-bottom: 20px; width: 280px; height: 65px; } }

.section-1 .section-inner .btn-group button:last-child { margin-right: 0; }

@media screen and (max-width: 640px) { .section-1 .section-inner .btn-group button:last-child { margin: auto; margin-bottom: 0; } }

@media screen and (max-width: 1080px) { .section-1 .section-inner .btn-group button:nth-child(2) { border-color: #9E8258; background: #9E8258; } }

.section-1 .section-inner .btn-group button:hover { border-color: #9E8258; background: #9E8258; }

.section-2 { background: #FFFFFF; }

.section-2 .section-inner { max-width: 1360px; padding: 49px 80px 49px; margin: auto; }

@media screen and (max-width: 1080px) { .section-2 .section-inner { padding: 40px 80px 40px; } }

@media screen and (max-width: 720px) { .section-2 .section-inner { padding: 0; } }

.section-2 .section-inner .statistics { font-size: 0; }

@media screen and (max-width: 1080px) { .section-2 .section-inner .statistics { text-align: center; } }

@media screen and (max-width: 720px) { .section-2 .section-inner .statistics { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; height: 147px; position: relative; border-bottom: 1px solid #E0E0E0; } }

.section-2 .section-inner .statistics .item { display: inline-block; margin-right: 110px; vertical-align: top; }

@media screen and (max-width: 720px) { .section-2 .section-inner .statistics .item { margin-right: 0; width: 33.33%; } }

@media screen and (max-width: 720px) { .section-2 .section-inner .statistics .item:nth-child(1)::before { content: ""; position: absolute; top: 0; bottom: 0; left: 33.33%; width: 1px; background: #E0E0E0; } }

@media screen and (max-width: 720px) { .section-2 .section-inner .statistics .item:nth-child(2)::before { content: ""; position: absolute; top: 0; bottom: 0; left: 66.66%; width: 1px; background: #E0E0E0; } }

.section-2 .section-inner .statistics .item:last-child { margin-right: 0; }

.section-2 .section-inner .statistics .item .title { font-weight: 400; font-size: 20px; line-height: 25px; letter-spacing: -0.03em; color: #888888; margin-bottom: 12px; }

.section-2 .section-inner .statistics .item .value { font-weight: 700; font-size: 24px; line-height: 30px; letter-spacing: -0.03em; color: #333333; }

.section-3 { background: #FFFFFF; }

.section-3 .section-inner { max-width: 1360px; padding: 199px 80px 180px; margin: auto; }

@media screen and (max-width: 1080px) { .section-3 .section-inner { padding: 160px 80px 160px; } }

@media screen and (max-width: 640px) { .section-3 .section-inner { padding: 150px 40px 150px; } }

.section-3 .section-inner .sub-title { font-weight: 700; font-size: 24px; line-height: 30px; letter-spacing: -0.015em; color: #888888; text-align: center; }

.section-3 .section-inner .title { margin-top: 20px; font-weight: 700; font-size: 44px; line-height: 54px; text-align: center; letter-spacing: -0.03em; color: #333333; }

.section-3 .section-inner .member-sample { position: relative; margin-top: 60px; font-size: 0; }

.section-3 .section-inner .member-sample .card { display: inline-block; margin-right: 10.8%; vertical-align: top; width: calc(50% - 5.4%); }

@media screen and (max-width: 1080px) { .section-3 .section-inner .member-sample .card { margin-right: 20px; width: calc(50% - 10px); } }

@media screen and (max-width: 860px) { .section-3 .section-inner .member-sample .card { width: 100%; margin-right: 0; text-align: center; } }

.section-3 .section-inner .member-sample .card:last-child { margin-right: 0; }

@media screen and (max-width: 860px) { .section-3 .section-inner .member-sample .card .image { max-width: 432px; margin: auto; } }

.section-3 .section-inner .member-sample .card .image .image-inner img { border-radius: 20px 20px 0px 0px; }

.section-3 .section-inner .member-sample .card .content { position: relative; margin-top: -180px; padding: 0 18px; }

@media screen and (max-width: 860px) { .section-3 .section-inner .member-sample .card .content { max-width: 432px; margin: -180px auto 0; } }

.section-3 .section-inner .member-sample .card .content .content-inner { min-height: 311px; padding: 50px; -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); border-radius: 0px 0px 20px 20px; background: #FFFFFF; }

.section-3 .section-inner .member-sample .card .content .content-inner .title { margin-top: 0; font-weight: 700; font-size: 24px; line-height: 140%; letter-spacing: -0.015em; color: #333333; text-align: left; }

.section-3 .section-inner .member-sample .card .content .content-inner .sub-title { font-weight: 400; font-size: 18px; line-height: 140%; letter-spacing: -0.015em; color: #333333; margin-top: 10px; text-align: left; }

.section-3 .section-inner .member-sample .card .content .content-inner .desc { font-weight: 400; font-size: 16px; line-height: 140%; letter-spacing: -0.03em; color: #555555; text-align: left; border-top: 1px solid #E0E0E0; margin-top: 20px; padding-top: 20px; }

.section-3 .section-inner .member-sample .icon { position: absolute; top: 0; left: 50%; -webkit-transform: translate(-50%, 30%); transform: translate(-50%, 30%); width: 25%; text-align: center; }

@media screen and (max-width: 1080px) { .section-3 .section-inner .member-sample .icon { width: 20.8%; } }

@media screen and (max-width: 860px) { .section-3 .section-inner .member-sample .icon { position: static; width: 200px; margin: 40px auto; -webkit-transform: inherit; transform: inherit; } }

.section-3 .section-inner .comment { font-weight: 700; font-size: 18px; line-height: 23px; text-align: center; letter-spacing: -0.03em; color: #333333; margin-top: 60px; }

.section-3 .section-inner .comment .focus { color: #FF0000; }

.section-4 .section-inner .banner-image { font-size: 0; }

.section-4 .section-inner .banner-image img.pc { display: block; }

@media screen and (max-width: 640px) { .section-4 .section-inner .banner-image img.pc { display: none; } }

.section-4 .section-inner .banner-image img.m { display: none; }

@media screen and (max-width: 640px) { .section-4 .section-inner .banner-image img.m { display: block; } }

.section-5 { background: #2C2A2A; }

.section-5 .section-inner { max-width: 1360px; padding: 190px 80px 190px; margin: auto; }

@media screen and (max-width: 1080px) { .section-5 .section-inner { padding: 160px 80px 160px; } }

@media screen and (max-width: 640px) { .section-5 .section-inner { padding: 150px 40px 150px; } }

.section-5 .section-inner .banner-txt { position: relative; padding: 58px 0; text-align: center; }

@media screen and (max-width: 640px) { .section-5 .section-inner .banner-txt { padding: 64px 0; } }

.section-5 .section-inner .banner-txt::before { content: ""; background: linear-gradient(89.91deg, rgba(255, 255, 255, 0) 0.74%, #FFFFFF 49.54%, rgba(255, 255, 255, 0) 99.93%); opacity: 0.15; position: absolute; top: 0; left: 0; right: 0; bottom: 0; }

.section-5 .section-inner .banner-txt .sub-title.sub-1 { font-weight: 700; font-size: 24px; line-height: 30px; letter-spacing: -0.015em; color: #9E8258; }

.section-5 .section-inner .banner-txt .sub-title.sub-2 { font-weight: 400; font-size: 20px; line-height: 30px; text-align: center; letter-spacing: -0.015em; color: #CCCCCC; margin-top: 30px; }

.section-5 .section-inner .banner-txt .title { margin-top: 25px; font-weight: 300; font-size: 44px; line-height: 54px; letter-spacing: -0.03em; color: #FFFFFF; }

.section-5 .section-inner .banner-txt .title .focus { font-weight: 700; }

@media screen and (max-width: 1080px) { .section-5 .section-inner .banner-txt .title .focus { display: block; } }

.section-5 .section-inner .intro { margin-top: 90px; }

@media screen and (max-width: 1080px) { .section-5 .section-inner .intro { margin-top: 100px; } }

.section-5 .section-inner .intro .bub-txt { position: relative; border-radius: 15px; font-weight: 700; font-size: 28px; line-height: 35px; letter-spacing: -0.015em; color: #333333; max-width: 769px; padding: 28px 47px; background: #FFFFFF; -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15); box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15); border-radius: 15px; }

@media screen and (max-width: 1080px) { .section-5 .section-inner .intro .bub-txt { margin: auto; text-align: center; } }

@media screen and (max-width: 640px) { .section-5 .section-inner .intro .bub-txt { font-size: 24px; line-height: 30px; } }

.section-5 .section-inner .intro .bub-txt::after { content: ''; position: absolute; bottom: 7px; left: 80px; width: 0; height: 0; border: 30px solid transparent; border-top-color: #FFFFFF; border-bottom: 0; border-right: 0; margin-left: -15px; margin-bottom: -30px; -webkit-transform: rotate(-20deg); transform: rotate(-20deg); }

.section-5 .section-inner .intro .logo-n-txt { position: relative; margin-top: 70px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

@media screen and (max-width: 1080px) { .section-5 .section-inner .intro .logo-n-txt { margin-top: 75px; display: block; } }

@media screen and (max-width: 640px) { .section-5 .section-inner .intro .logo-n-txt { margin-top: 70px; } }

.section-5 .section-inner .intro .logo-n-txt .logo { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

@media screen and (max-width: 1080px) { .section-5 .section-inner .intro .logo-n-txt .logo { display: block; text-align: center; } }

.section-5 .section-inner .intro .logo-n-txt .divider { width: 1px; background: #CCCCCC; margin: 0 80px 0 133px; }

@media screen and (max-width: 1080px) { .section-5 .section-inner .intro .logo-n-txt .divider { width: 100%; height: 1px; margin: 80px 0; } }

@media screen and (max-width: 640px) { .section-5 .section-inner .intro .logo-n-txt .divider { margin: 50px 0; } }

.section-5 .section-inner .intro .logo-n-txt .txt { font-weight: 400; font-size: 20px; line-height: 25px; letter-spacing: -0.015em; color: #FFFFFF; }

@media screen and (max-width: 1080px) { .section-5 .section-inner .intro .logo-n-txt .txt { text-align: center; } }

.section-5 .section-inner .intro .logo-n-txt .txt .focus { font-weight: 700; }

.section-5 .section-inner .intro-sample { margin-top: 100px; }

@media screen and (max-width: 640px) { .section-5 .section-inner .intro-sample { margin-top: 80px; } }

.section-5 .section-inner .intro-sample .card-group { font-size: 0; }

.section-5 .section-inner .intro-sample .card-group .card { display: inline-block; width: calc(50% - 20px); margin-right: 40px; text-align: center; }

@media screen and (max-width: 1080px) { .section-5 .section-inner .intro-sample .card-group .card { display: block; width: 100%; margin: 0 0 100px 0; } }

@media screen and (max-width: 640px) { .section-5 .section-inner .intro-sample .card-group .card { margin: 0 0 50px 0; } }

.section-5 .section-inner .intro-sample .card-group .card:last-child { margin-right: 0; }

@media screen and (max-width: 1080px) { .section-5 .section-inner .intro-sample .card-group .card:last-child { margin: 0; } }

.section-5 .section-inner .intro-sample .card-group .card .title .title-inner { font-weight: 700; font-size: 24px; line-height: 30px; letter-spacing: -0.015em; color: #FFFFFF; }

.section-5 .section-inner .intro-sample .card-group .card .title .title-inner .icon { width: 68px; height: 68px; border: 1px solid #FFFFFF; border-radius: 50%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: auto; }

.section-5 .section-inner .intro-sample .card-group .card .title .title-inner .icon img { width: 30px; }

.section-5 .section-inner .intro-sample .card-group .card .title .title-inner .txt { margin-top: 20px; }

.section-5 .section-inner .intro-sample .card-group .card .image { margin-top: 40px; font-size: 0; }

.section-5 .section-inner .intro-sample .card-group .card .image .image-inner { position: relative; display: inline-block; }

.section-5 .section-inner .intro-sample .card-group .card .image .image-inner img.sub { position: absolute; top: 50%; right: 0; -webkit-transform: translate(35%, -25%); transform: translate(35%, -25%); }

@media screen and (max-width: 520px) { .section-5 .section-inner .intro-sample .card-group .card .image .image-inner img.sub { -webkit-transform: translate(25%, -25%); transform: translate(25%, -25%); width: 40%; } }

.section-5 .section-inner .intro-sample .card-group .card .image .image-inner img.sub-2 { position: absolute; top: 50%; right: 0; -webkit-transform: translate(45%, -25%); transform: translate(45%, -25%); }

@media screen and (max-width: 520px) { .section-5 .section-inner .intro-sample .card-group .card .image .image-inner img.sub-2 { -webkit-transform: translate(30%, -25%); transform: translate(30%, -25%); width: 60%; } }

@media screen and (max-width: 420px) { .section-5 .section-inner .intro-sample .card-group .card .image .image-inner img.sub-2 { width: 50%; } }

.section-5 .section-inner .intro-sample .card-group .card .content { background: #FFFFFF; border-radius: 8px; }

@media screen and (max-width: 1080px) { .section-5 .section-inner .intro-sample .card-group .card .content { max-width: 700px; margin: auto; } }

.section-5 .section-inner .intro-sample .card-group .card .content .content-inner { padding: 30px 40px; }

@media screen and (max-width: 1080px) { .section-5 .section-inner .intro-sample .card-group .card .content .content-inner { padding: 40px; } }

@media screen and (max-width: 640px) { .section-5 .section-inner .intro-sample .card-group .card .content .content-inner { text-align: left; } }

.section-5 .section-inner .intro-sample .card-group .card .content .content-inner ul { margin: 0; padding: 0; list-style-type: none; text-align: left; }

@media screen and (max-width: 1080px) { .section-5 .section-inner .intro-sample .card-group .card .content .content-inner ul { display: inline-block; } }

.section-5 .section-inner .intro-sample .card-group .card .content .content-inner ul li { position: relative; padding-left: 23px; font-weight: 700; font-size: 16px; line-height: 20px; letter-spacing: -0.03em; color: #555555; margin-bottom: 10px; }

@media screen and (max-width: 1080px) { .section-5 .section-inner .intro-sample .card-group .card .content .content-inner ul li { font-size: 20px; line-height: 25px; margin-bottom: 14px; } }

@media screen and (max-width: 640px) { .section-5 .section-inner .intro-sample .card-group .card .content .content-inner ul li { font-weight: 400; } }

.section-5 .section-inner .intro-sample .card-group .card .content .content-inner ul li:last-child { margin-bottom: 0; }

.section-5 .section-inner .intro-sample .card-group .card .content .content-inner ul li .icon { position: absolute; left: 0; top: 0; vertical-align: text-bottom; margin-right: 5px; }

.section-5 .section-inner .intro-sample .card-group .card .content .content-inner ul li .focus { font-weight: 700; }

@media screen and (max-width: 1080px) { .section-6 { background: #FFFFFF; } }

.section-6 .section-inner .banner-slide { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: start; background: #FFFFFF; }

@media screen and (max-width: 1080px) { .section-6 .section-inner .banner-slide { display: block; } }

.section-6 .section-inner .banner-slide .btn-prev { cursor: pointer; }

@media screen and (max-width: 1080px) { .section-6 .section-inner .banner-slide .btn-prev { position: absolute; top: 50%; left: 80px; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); } }

@media screen and (max-width: 640px) { .section-6 .section-inner .banner-slide .btn-prev { top: 0; left: 40px; -webkit-transform: translate(0, 0); transform: translate(0, 0); } }

.section-6 .section-inner .banner-slide .btn-next { cursor: pointer; }

@media screen and (max-width: 1080px) { .section-6 .section-inner .banner-slide .btn-next { position: absolute; top: 50%; right: 80px; -webkit-transform: translate(50%, -50%); transform: translate(50%, -50%); } }

@media screen and (max-width: 640px) { .section-6 .section-inner .banner-slide .btn-next { top: 0; right: 40px; -webkit-transform: translate(0, 0); transform: translate(0, 0); } }

.section-6 .section-inner .banner-slide .btn-next img.wh { display: block; }

@media screen and (max-width: 1080px) { .section-6 .section-inner .banner-slide .btn-next img.wh { display: none; } }

.section-6 .section-inner .banner-slide .btn-next img.bk { display: none; }

@media screen and (max-width: 1080px) { .section-6 .section-inner .banner-slide .btn-next img.bk { display: block; } }

.section-6 .section-inner .banner-slide .image { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background: #FFFFFF; font-size: 0; width: 50%; }

@media screen and (max-width: 1080px) { .section-6 .section-inner .banner-slide .image { width: 100%; } }

.section-6 .section-inner .banner-slide .image .btn-group { position: absolute; display: -webkit-box; display: -ms-flexbox; display: flex; font-size: 0; bottom: 0; right: 0; z-index: 1; -webkit-transform: translate(50%, 0); transform: translate(50%, 0); }

@media screen and (max-width: 1080px) { .section-6 .section-inner .banner-slide .image .btn-group { display: none; } }

@media screen and (max-width: 1080px) { .section-6 .section-inner .banner-slide .image img { width: 100%; } }

.section-6 .section-inner .banner-slide .image img.pc { display: block; }

@media screen and (max-width: 640px) { .section-6 .section-inner .banner-slide .image img.pc { display: none; } }

.section-6 .section-inner .banner-slide .image img.m { display: none; }

@media screen and (max-width: 640px) { .section-6 .section-inner .banner-slide .image img.m { display: block; } }

.section-6 .section-inner .banner-slide .slider { position: relative; width: 50%; background: #FFFFFF; }

@media screen and (max-width: 1080px) { .section-6 .section-inner .banner-slide .slider { width: 100%; padding: 0 80px; margin-top: -80px; background: transparent; } }

@media screen and (max-width: 640px) { .section-6 .section-inner .banner-slide .slider { padding: 0 40px; } }

.section-6 .section-inner .banner-slide .slider .btn-group { display: none; }

@media screen and (max-width: 1080px) { .section-6 .section-inner .banner-slide .slider .btn-group { display: block; } }

.section-6 .section-inner .banner-slide .slider .slider-inner { padding: 110px 125px 90px; }

@media screen and (max-width: 1080px) { .section-6 .section-inner .banner-slide .slider .slider-inner { padding: 110px; text-align: center; -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); background: #FFFFFF; } }

@media screen and (max-width: 640px) { .section-6 .section-inner .banner-slide .slider .slider-inner { padding: 120px 50px; } }

.section-6 .section-inner .banner-slide .slider .slider-inner .slide { display: none; -webkit-transition: opacity 1.5s; transition: opacity 1.5s; }

.section-6 .section-inner .banner-slide .slider .slider-inner .slide.active { display: block; opacity: 0; }

.section-6 .section-inner .banner-slide .slider .slider-inner .slide.show { opacity: 1; }

.section-6 .section-inner .banner-slide .slider .slider-inner .slide .sub-title { font-weight: 700; font-size: 24px; line-height: 30px; letter-spacing: -0.015em; color: #888888; }

.section-6 .section-inner .banner-slide .slider .slider-inner .slide .title { margin-top: 25px; font-weight: 700; font-size: 30px; line-height: 140%; letter-spacing: -0.03em; color: #333333; }

.section-6 .section-inner .banner-slide .slider .slider-inner .slide .desc { margin-top: 30px; font-weight: 400; font-size: 18px; line-height: 23px; letter-spacing: -0.03em; color: #555555; }

.section-6 .section-inner .banner-slide .slider .slider-inner .slide .desc .focus { font-weight: 700; }

.section-6 .section-inner .banner-slide .slider .slider-inner .slide .comment { margin-top: 50px; font-weight: 700; font-size: 18px; line-height: 23px; letter-spacing: -0.03em; color: #555555; }

.section-7 { background: #FFFFFF; }

.section-7 .section-inner { max-width: 1360px; padding: 180px 80px 180px; margin: auto; font-size: 0; }

@media screen and (max-width: 1080px) { .section-7 .section-inner { padding: 100px 80px 180px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; } }

@media screen and (max-width: 640px) { .section-7 .section-inner { padding: 0 40px 160px; } }

.section-7 .section-inner .intro { display: inline-block; width: 50%; padding-top: 93px; vertical-align: top; }

@media screen and (max-width: 1080px) { .section-7 .section-inner .intro { width: 100%; text-align: center; -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; } }

.section-7 .section-inner .intro .sub-title { font-weight: 700; font-size: 24px; line-height: 30px; letter-spacing: -0.015em; color: #888888; }

.section-7 .section-inner .intro .title { font-weight: 700; font-size: 44px; line-height: 54px; letter-spacing: -0.03em; color: #333333; margin-top: 25px; }

.section-7 .section-inner .intro .content { margin-top: 70px; }

@media screen and (max-width: 1080px) { .section-7 .section-inner .intro .content { display: inline-block; } }

.section-7 .section-inner .intro .content ul { margin: 0; padding: 0; list-style-type: none; text-align: left; }

.section-7 .section-inner .intro .content ul li { font-weight: 400; font-size: 20px; line-height: 140%; letter-spacing: -0.015em; color: #555555; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 20px; }

.section-7 .section-inner .intro .content ul li:last-child { margin-bottom: 0; }

.section-7 .section-inner .intro .content ul li .icon { -ms-flex-preferred-size: 40px; flex-basis: 40px; -webkit-box-flex: 0; -ms-flex-positive: 0; flex-grow: 0; -ms-flex-negative: 0; flex-shrink: 0; width: 40px; height: 40px; background: #333333; border-radius: 50%; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-right: 20px; }

.section-7 .section-inner .intro .content ul li .icon img { width: 25px; }

.section-7 .section-inner .intro .desc { margin-top: 62px; font-weight: 400; font-size: 24px; line-height: 140%; letter-spacing: -0.03em; color: #333333; }

.section-7 .section-inner .intro .desc .focus { font-weight: 700; }

.section-7 .section-inner .banner { display: inline-block; width: 50%; vertical-align: top; position: relative; z-index: 1; }

@media screen and (max-width: 1080px) { .section-7 .section-inner .banner { width: 100%; text-align: center; -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; } }

.section-7 .section-inner .banner:before { content: ""; position: absolute; top: 0; left: 15%; right: 0; bottom: 0; background: #E8E2E2; z-index: -1; }

@media screen and (max-width: 1080px) { .section-7 .section-inner .banner:before { top: 37%; left: 0; right: -80px; } }

@media screen and (max-width: 640px) { .section-7 .section-inner .banner:before { right: -40px; } }

.section-8 { background-image: url("/assets/images/bg.png"); background-size: cover; background-position: center; background-repeat: no-repeat; }

.section-8 .section-inner { max-width: 1360px; padding: 140px 80px 140px; margin: auto; text-align: center; }

@media screen and (max-width: 640px) { .section-8 .section-inner { padding: 96px 40px 104px; } }

.section-8 .section-inner .title { margin-top: 50px; font-weight: 700; font-size: 44px; line-height: 140%; text-align: center; letter-spacing: -0.03em; color: #FFFFFF; }

.section-8 .section-inner .sub-title { margin-top: 10px; font-weight: 400; font-size: 22px; line-height: 34px; text-align: center; letter-spacing: -0.03em; color: #CCCCCC; }

.section-8 .section-inner .sub-title .focus { font-weight: 700; }

.section-9 { background: #FFFFFF; }

.section-9 .section-inner { max-width: 1360px; padding: 180px 0 0; margin: auto; }

@media screen and (max-width: 860px) { .section-9 .section-inner { padding: 146px 40px 20px; } }

.section-9 .section-inner .sub-title { font-weight: 700; font-size: 24px; line-height: 30px; letter-spacing: -0.015em; color: #888888; text-align: center; }

.section-9 .section-inner .title { margin-top: 25px; margin-bottom: 84px; font-weight: 700; font-size: 44px; line-height: 54px; letter-spacing: -0.03em; color: #333333; text-align: center; }

.section-9 .section-inner .card { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-bottom: 86px; }

@media screen and (max-width: 1080px) { .section-9 .section-inner .card { margin-bottom: 70px; } }

@media screen and (max-width: 860px) { .section-9 .section-inner .card { display: block; margin-bottom: 80px; } }

.section-9 .section-inner .card:last-child { margin-bottom: 0; }

.section-9 .section-inner .card .image { font-size: 0; }

@media screen and (max-width: 1080px) { .section-9 .section-inner .card .image { width: 50%; } }

@media screen and (max-width: 860px) { .section-9 .section-inner .card .image { width: 100%; } }

@media screen and (max-width: 1080px) { .section-9 .section-inner .card .image .image-inner img { width: 100%; } }

.section-9 .section-inner .card .content { min-width: 580px; margin-left: -50px; }

@media screen and (max-width: 1080px) { .section-9 .section-inner .card .content { width: calc(50% + 50px); } }

@media screen and (max-width: 860px) { .section-9 .section-inner .card .content { width: 100%; margin-left: 0; min-width: inherit; } }

.section-9 .section-inner .card .content .content-inner { padding-top: 80px; }

@media screen and (max-width: 860px) { .section-9 .section-inner .card .content .content-inner { padding-top: 100px; } }

.section-9 .section-inner .card .content .content-inner .title { font-weight: 400; font-size: 28px; line-height: 35px; letter-spacing: -0.03em; color: #333333; position: relative; text-align: left; padding-left: 102px; margin-top: 0; margin-bottom: 0; }

@media screen and (max-width: 860px) { .section-9 .section-inner .card .content .content-inner .title { padding-left: 0; text-align: center; } }

.section-9 .section-inner .card .content .content-inner .title .number { font-weight: 700; font-size: 150px; line-height: 1; letter-spacing: -0.03em; color: rgba(0, 0, 0, 0.07); position: absolute; bottom: -17px; left: 5px; width: 150px; z-index: -1; }

@media screen and (max-width: 860px) { .section-9 .section-inner .card .content .content-inner .title .number { left: 50%; bottom: 5px; -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); width: inherit; } }

.section-9 .section-inner .card .content .content-inner .title .focus { font-weight: 700; }

.section-9 .section-inner .card .content .content-inner .desc { margin-top: 40px; padding: 24px 35px 30px; -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08); box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08); background: #FFFFFF; }

.section-9 .section-inner .card .content .content-inner .desc .qna { position: relative; padding-left: 30px; }

.section-9 .section-inner .card .content .content-inner .desc .qna.q { font-weight: 700; font-size: 18px; line-height: 130%; letter-spacing: -0.03em; color: #555555; }

.section-9 .section-inner .card .content .content-inner .desc .qna.q .icon { top: 0; }

.section-9 .section-inner .card .content .content-inner .desc .qna.a { font-weight: 400; font-size: 18px; line-height: 140%; letter-spacing: -0.03em; color: #555555; margin-top: 20px; padding-top: 20px; border-top: 1px dashed #CCCCCC; }

.section-9 .section-inner .card .content .content-inner .desc .qna.a .icon { top: 20px; }

.section-9 .section-inner .card .content .content-inner .desc .qna .icon { position: absolute; left: 0; }

.section-10 { background: #FFFFFF; }

.section-10 .section-inner { padding-top: 180px; }

@media screen and (max-width: 640px) { .section-10 .section-inner { padding: 130px 40px 0; } }

.section-10 .section-inner .sub-title { font-weight: 700; font-size: 24px; line-height: 30px; letter-spacing: -0.015em; color: #888888; text-align: center; }

.section-10 .section-inner .title { margin-top: 25px; font-weight: 400; font-size: 44px; line-height: 54px; letter-spacing: -0.03em; color: #333333; text-align: center; }

.section-10 .section-inner .title .focus { font-weight: 700; }

@media screen and (max-width: 1080px) { .section-10 .section-inner .title .focus { display: block; } }

.section-10 .section-inner .tags-wrap { margin-top: 60px; font-size: 0; }

.section-10 .section-inner .tags-wrap .tags { background-size: cover; background-position: center; background-repeat: no-repeat; padding: 140px 0 160px; }

.section-10 .section-inner .tags-wrap .tags.ladies { display: inline-block; width: 55%; margin-right: -5%; position: relative; z-index: 2; vertical-align: bottom; padding: 140px 0 130px; background-image: url(/assets/images/ladies.png); }

@media screen and (max-width: 1800px) { .section-10 .section-inner .tags-wrap .tags.ladies { background-image: url(/assets/images/ladies-2.png); width: 50%; margin-right: 0; } }

@media screen and (max-width: 1080px) { .section-10 .section-inner .tags-wrap .tags.ladies { width: 100%; background-image: url(/assets/images/ladies-2.png); padding: 140px 0; } }

@media screen and (max-width: 640px) { .section-10 .section-inner .tags-wrap .tags.ladies { padding: 130px 0; background-image: url(/assets/images/ladies-m.png); } }

.section-10 .section-inner .tags-wrap .tags.ladies .tags-inner { width: 70%; }

@media screen and (max-width: 420px) { .section-10 .section-inner .tags-wrap .tags.ladies .tags-inner { width: 100%; padding: 0 40px; } }

@media screen and (max-width: 420px) { .section-10 .section-inner .tags-wrap .tags.ladies .tags-inner .tag { margin-right: 0; } }

.section-10 .section-inner .tags-wrap .tags.mens { display: inline-block; width: 55%; margin-left: -5%; position: relative; z-index: 1; padding: 120px 0 95px; vertical-align: bottom; background-image: url(/assets/images/mens.png); }

@media screen and (max-width: 1800px) { .section-10 .section-inner .tags-wrap .tags.mens { width: 50%; margin-left: 0; } }

@media screen and (max-width: 1080px) { .section-10 .section-inner .tags-wrap .tags.mens { width: 100%; margin-left: 0; padding: 140px 0; } }

@media screen and (max-width: 640px) { .section-10 .section-inner .tags-wrap .tags.mens { padding: 130px 0; background-image: url(/assets/images/mens-m.png); } }

@media screen and (max-width: 1800px) { .section-10 .section-inner .tags-wrap .tags.mens .tags-inner { width: 85%; margin: auto; } }

@media screen and (max-width: 420px) { .section-10 .section-inner .tags-wrap .tags.mens .tags-inner { width: 100%; padding: 0 40px; } }

@media screen and (max-width: 420px) { .section-10 .section-inner .tags-wrap .tags.mens .tags-inner .tag { margin-right: 0; } }

.section-10 .section-inner .tags-wrap .tags .title { font-weight: 700; font-size: 44px; line-height: 54px; text-align: center; color: #FFFFFF; margin-top: 0; margin-bottom: 30px; }

.section-10 .section-inner .tags-wrap .tags .tags-inner { margin: auto; text-align: center; }

.section-10 .section-inner .tags-wrap .tags .tags-inner .tag { font-weight: 700; font-size: 18px; line-height: 23px; text-align: center; letter-spacing: -0.015em; color: #333333; display: inline-block; padding: 20px 28px; background: #FFFFFF; -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 40px; margin-right: 20px; margin-bottom: 22px; }

.section-11 { background: #FFFFFF; }

.section-11 .section-inner { max-width: 1230px; padding: 180px 80px; margin: auto; }

@media screen and (max-width: 640px) { .section-11 .section-inner { padding: 150px 40px; } }

.section-11 .section-inner .sub-title { font-weight: 700; font-size: 24px; line-height: 30px; letter-spacing: -0.015em; color: #888888; text-align: center; }

.section-11 .section-inner .title { font-weight: 700; font-size: 44px; line-height: 54px; letter-spacing: -0.03em; color: #333333; text-align: center; margin-top: 25px; }

.section-11 .section-inner .card { margin-top: 60px; }

.section-11 .section-inner .card .image { font-size: 0; }

.section-11 .section-inner .card .content .content-inner .title { margin-top: 40px; font-weight: 700; font-size: 24px; line-height: 30px; letter-spacing: -0.015em; color: #000000; text-align: left; }

.section-11 .section-inner .card .content .content-inner .desc { margin-top: 25px; font-weight: 400; font-size: 18px; line-height: 150%; letter-spacing: -0.03em; color: #555555; text-align: left; }

.section-12 { background: #2C2A2A; }

.section-12 .section-inner { max-width: 1230px; padding: 160px 80px 0; margin: auto; }

@media screen and (max-width: 1080px) { .section-12 .section-inner { padding: 160px 80px; } }

@media screen and (max-width: 640px) { .section-12 .section-inner { padding: 150px 40px; } }

.section-12 .section-inner .sub-title { font-weight: 700; font-size: 24px; line-height: 30px; text-align: center; letter-spacing: -0.015em; color: #888888; }

.section-12 .section-inner .title { font-weight: 700; font-size: 44px; line-height: 54px; letter-spacing: -0.03em; color: #FFFFFF; text-align: center; margin-top: 25px; }

.section-12 .section-inner .card-group { margin-top: 70px; font-size: 0; }

@media screen and (max-width: 1080px) { .section-12 .section-inner .card-group { margin-top: 60px; } }

.section-12 .section-inner .card-group .card { position: relative; z-index: 1; text-align: center; display: inline-block; width: 33.33%; vertical-align: top; }

@media screen and (max-width: 1080px) { .section-12 .section-inner .card-group .card { width: 100%; margin-bottom: 30px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }

@media screen and (max-width: 640px) { .section-12 .section-inner .card-group .card { -ms-flex-wrap: wrap; flex-wrap: wrap; margin-bottom: 90px; } }

.section-12 .section-inner .card-group .card::before { content: ""; position: absolute; top: 24px; left: 50%; width: 100%; height: 0; border-top: 1px dashed white; z-index: -1; }

@media screen and (max-width: 1080px) { .section-12 .section-inner .card-group .card::before { content: none; } }

.section-12 .section-inner .card-group .card::after { content: ""; position: absolute; top: 12px; left: 50%; width: 100%; height: 24px; background-image: url(/assets/images/chevron-right-small.png); background-repeat: no-repeat; background-position: 50% 0; background-size: contain; z-index: -1; }

@media screen and (max-width: 1080px) { .section-12 .section-inner .card-group .card::after { content: none; } }

.section-12 .section-inner .card-group .card:last-child::before, .section-12 .section-inner .card-group .card:last-child::after { content: none; }

@media screen and (max-width: 1080px) { .section-12 .section-inner .card-group .card:last-child { margin-bottom: 0; } }

@media screen and (max-width: 1080px) { .section-12 .section-inner .card-group .card:last-child .number::before, .section-12 .section-inner .card-group .card:last-child .number::after { content: none; } }

.section-12 .section-inner .card-group .card .number { -ms-flex-preferred-size: 48px; flex-basis: 48px; -webkit-box-flex: 0; -ms-flex-positive: 0; flex-grow: 0; -ms-flex-negative: 0; flex-shrink: 0; font-weight: 700; font-size: 20px; line-height: 25px; text-align: center; letter-spacing: -0.015em; color: #333333; width: 48px; height: 48px; background: #FFFFFF; border-radius: 50%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: auto; }

@media screen and (max-width: 1080px) { .section-12 .section-inner .card-group .card .number { margin: inherit; margin-right: 50px; } }

@media screen and (max-width: 640px) { .section-12 .section-inner .card-group .card .number { margin-right: 0; margin-bottom: 40px; -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; } }

@media screen and (max-width: 1080px) { .section-12 .section-inner .card-group .card .number::before { content: ""; position: absolute; top: 50%; width: 0; height: 100%; border-left: 1px dashed white; } }

@media screen and (max-width: 640px) { .section-12 .section-inner .card-group .card .number::before { content: none; } }

@media screen and (max-width: 1080px) { .section-12 .section-inner .card-group .card .number::after { content: ""; position: absolute; top: 50%; width: 24px; height: 100%; background-image: url(/assets/images/chevron-bottom-small.png); background-repeat: no-repeat; background-position: 0 50%; background-size: contain; } }

@media screen and (max-width: 640px) { .section-12 .section-inner .card-group .card .number::after { content: none; } }

@media screen and (max-width: 1080px) { .section-12 .section-inner .card-group .card .content { margin-right: 50px; min-width: 263px; } }

@media screen and (max-width: 640px) { .section-12 .section-inner .card-group .card .content { width: 100%; margin-right: 0; -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; } }

.section-12 .section-inner .card-group .card .content .content-inner { min-height: 130px; }

@media screen and (max-width: 640px) { .section-12 .section-inner .card-group .card .content .content-inner { min-height: inherit; } }

.section-12 .section-inner .card-group .card .content .content-inner .title { font-weight: 700; font-size: 24px; line-height: 36px; text-align: center; letter-spacing: -0.015em; color: #FFFFFF; margin-top: 27px; }

@media screen and (max-width: 1080px) { .section-12 .section-inner .card-group .card .content .content-inner .title { text-align: left; } }

@media screen and (max-width: 640px) { .section-12 .section-inner .card-group .card .content .content-inner .title { text-align: center; margin-top: 40px; } }

.section-12 .section-inner .card-group .card .content .content-inner .desc { font-weight: 400; font-size: 18px; line-height: 150%; text-align: center; letter-spacing: -0.015em; color: #FFFFFF; margin-top: 10px; }

@media screen and (max-width: 1080px) { .section-12 .section-inner .card-group .card .content .content-inner .desc { text-align: left; } }

@media screen and (max-width: 640px) { .section-12 .section-inner .card-group .card .content .content-inner .desc { text-align: center; } }

.section-12 .section-inner .card-group .card .content .content-inner .desc .focus { font-weight: 700; }

.section-12 .section-inner .card-group .card .image { margin-top: 67px; font-size: 0; }

@media screen and (max-width: 1080px) { .section-12 .section-inner .card-group .card .image { margin-top: 0; } }

@media screen and (max-width: 640px) { .section-12 .section-inner .card-group .card .image { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; width: 100%; } }

.section-12 .section-inner .card-group .card .image .image-inner { padding: 0 5px; }

.section-13 { background: #FFFFFF; }

.section-13 .section-inner { max-width: 1360px; padding: 180px 80px 178px; margin: auto; }

@media screen and (max-width: 640px) { .section-13 .section-inner { padding: 150px 40px; } }

.section-13 .section-inner .sub-title { font-weight: 700; font-size: 24px; line-height: 30px; letter-spacing: -0.015em; color: #888888; text-align: center; }

.section-13 .section-inner .title { font-weight: 700; font-size: 44px; line-height: 54px; letter-spacing: -0.03em; color: #333333; text-align: center; margin-top: 25px; }

.section-13 .section-inner .card-group { font-size: 0; margin-top: 60px; }

.section-13 .section-inner .card-group .card { -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); padding: 66px 60px 72px; display: inline-block; width: calc(50% - 20px); vertical-align: top; margin-right: 40px; }

@media screen and (max-width: 1080px) { .section-13 .section-inner .card-group .card { width: 100%; margin-bottom: 60px; } }

@media screen and (max-width: 640px) { .section-13 .section-inner .card-group .card { padding: 66px 40px; } }

.section-13 .section-inner .card-group .card:last-child { margin-right: 0; }

@media screen and (max-width: 1080px) { .section-13 .section-inner .card-group .card:last-child { margin-bottom: 0; } }

.section-13 .section-inner .card-group .card .title { font-weight: 700; font-size: 24px; line-height: 36px; text-align: center; letter-spacing: -0.015em; color: #000000; margin-top: 0; }

.section-13 .section-inner .card-group .card .title::after { content: ""; display: block; width: 44px; height: 2px; margin: 24px auto; background: #CCCCCC; }

.section-13 .section-inner .card-group .card .content .content-inner .desc .qna { font-size: 20px; line-height: 30px; letter-spacing: -0.015em; color: rgba(0, 0, 0, 0.8); }

.section-13 .section-inner .card-group .card .content .content-inner .desc .qna.q { font-weight: 700; margin-bottom: 12px; }

.section-13 .section-inner .card-group .card .content .content-inner .desc .qna.a { font-weight: 400; margin-bottom: 50px; }

.section-13 .section-inner .card-group .card .content .content-inner .desc .qna.a:last-child { margin-bottom: 0; }

.section-14 { position: relative; background-image: url("/assets/images/banner-13.png"); background-size: cover; background-position: center; background-repeat: no-repeat; }

.section-14::before { content: ""; background: #2C2A2A; opacity: 0.85; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 0; }

.section-14 .section-inner { position: relative; z-index: 1; padding: 140px 80px 140px; margin: auto; text-align: center; }

@media screen and (max-width: 640px) { .section-14 .section-inner { padding: 140px 40px; } }

.section-14 .section-inner .sub-title { margin-top: 60px; font-weight: 400; font-size: 24px; line-height: 150%; text-align: center; letter-spacing: -0.03em; color: #CCCCCC; }

.section-14 .section-inner .title { margin-top: 24px; font-weight: 700; font-size: 30px; line-height: 36px; text-align: center; letter-spacing: -0.03em; color: #FFFFFF; }

@media screen and (max-width: 1080px) { .section-14 .section-inner .title { line-height: 140%; } }

@media screen and (max-width: 1080px) { .section-14 .section-inner .title .rest { display: none; } }

.section-14 .section-inner .btn-group { margin-top: 52px; }

@media screen and (max-width: 1080px) { .section-14 .section-inner .btn-group { margin-top: 24px; } }

@media screen and (max-width: 640px) { .section-14 .section-inner .btn-group { margin-top: 40px; } }

.section-14 .section-inner .btn-group button { width: 360px; height: 64px; background: #9E8258; border: none; border-radius: 64px; font-weight: 700; font-size: 18px; color: #FFFFFF; }

@media screen and (max-width: 420px) { .section-14 .section-inner .btn-group button { width: 100%; } }

.section-15 .section-inner .card-group { font-size: 0; }

.section-15 .section-inner .card-group .card { position: relative; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 50%; height: 480px; vertical-align: top; background-size: cover; background-position: center; background-repeat: no-repeat; }

@media screen and (max-width: 1080px) { .section-15 .section-inner .card-group .card { height: 400px; width: 100%; } }

.section-15 .section-inner .card-group .card:nth-child(1) { background-image: url("/assets/images/banner-7.png"); }

.section-15 .section-inner .card-group .card:nth-child(2) { background-image: url("/assets/images/banner-8.png"); }

.section-15 .section-inner .card-group .card::before { content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: #000000; opacity: 0.6; }

.section-15 .section-inner .card-group .card .content { position: relative; z-index: 1; }

@media screen and (max-width: 640px) { .section-15 .section-inner .card-group .card .content .content-inner { padding: 0 40px; } }

.section-15 .section-inner .card-group .card .content .content-inner .sub-title { font-weight: 700; font-size: 20px; line-height: 100%; text-align: center; letter-spacing: -0.03em; color: #FFFFFF; }

.section-15 .section-inner .card-group .card .content .content-inner .title { margin-top: 26px; font-weight: 700; font-size: 44px; line-height: 54px; text-align: center; letter-spacing: -0.03em; color: #FFFFFF; }
